:root {
  --branding-color: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --secondary-color: #a2a8d3;
  --tertiary-color: #fafafa;
  --heading-font-family: "Comfortaa", cursive;
  --default-font-family: "Poppins", sans-serif;
  --general-font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: var(--tertiary-color);
}

h1 {
  font-size: 60px;
  font-family: var(--heading-font-family);
  line-height: 1.5;
}

h2,
h3 {
  font-family: var(--default-font-family);
}

p {
  font-family: var(--general-font-family);
  font-size: 16px;
  line-height: 30px;
}

img {
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: #7c73e6;
}

.hero {
  text-align: center;
  background: var(--branding-color);
  padding: 160px 0;
}

.row {
  background: white;
  margin: 100px 0;
  border-radius: 20px;
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background: transparent;
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.btn-branding-outline:hover {
  color: white;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.project-description {
  padding: 120px 60px;
}

.footer {
  text-align: center;
  margin: 0 0 100px 0;
}

@media (max-width: 960px) {
  .hero {
    padding: 80px 0;
  }

  h1 {
    font-size: 40px;
  }

  .row {
    margin: 20px 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
    margin: 30px 0;
  }

  .footer {
    margin-bottom: 30px;
  }
}
